.app {
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #282c34;
  color: white;
}

.appName {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}
