.app {
  min-height: 100vh;
  padding: 40px 80px;
  box-sizing: border-box;
  background-color: #282c34;
  color: white;
}

.appName {
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

.content {
  padding: 24px;
  background: darkgoldenrod;
  color: white;
  border-radius: 4px;
}
